body {
  font-family: "Outfit", sans-serif;
  background-color: rgb(243, 229, 216);
  line-height: 1.5;
}

h1 {
  font-weight: 400;
  font-family: "Young Serif", serif;
  font-size:41px;
}

.rectangle {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  border-color: black;
  margin: 100px 250px;
  
}


.intro-text {
  margin: 0 43px;
}


.image-container {
  width: 660px;
  height: auto;
  border-radius: 15px;
 
  margin: auto;
  display: flex;
}

.rectangle-content{
  padding-top: 40px;
}

.preparation-container{
  background-color: hsl(330, 100%, 98%);
  margin-left: 40px;
  border-radius: 20px;
  margin-right:40px;
}


.preparation-container-content{
  margin-left:30px;
  padding-top: 8px;
  padding-bottom: 8px; 
}

.preparation-heading{
  color: hsl(332, 51%, 32%);
  font-size: 20px;
  font-weight: 600; 
}

ul {
  list-style: none; /* Remove default bullet point */
  padding-left: 0;
}

.list1 li::before {
  content: "•"; 
  color:hsl(332, 51%, 32%); 
  margin-right: 20px; 
  margin-left:6px;
}

.list1 li {
    margin-top: 8px; /* Adjust spacing between list items */
  }

.bold-word{
  font-weight:bold;
}

h2{
  font-weight: 400;
  font-family: "Young Serif", serif;
  font-size: 30px;
  color:hsl(14, 45%, 36%);
  margin-bottom:-1px;
}

.ingredients-text{
  margin-left: 40px;
}

.list2 li::before {
  content: "•"; 
  color:hsl(14, 45%, 36%); 
  margin-right: 20px; 
  margin-left:12px;
}

.list2 li{
  margin-top: 10px; /* Adjust spacing between list items */
}


hr{
  margin-left: 0px;
  margin-right: 40px;
  margin-top:40px;
  margin-bottom: 30px;
  color:hsl(30, 18%, 87%);
}

.instructions-text{
  margin-left: 40px;
}

ul{
  list-style-type: none; /* Remove default numbering */
  padding-left:42px;
  margin-right: 55px;
}

.list3 li {
  counter-increment: list3-counter; /* Increment the counter */
  margin-top: 15px; /* Adjust spacing between list items */

  display: block; /* Ensure each list item is a block element */
  text-indent: -35px; /* Adjust text indent to align with numbers */
}

.list3 li::before {
  color:hsl(14, 45%, 36%); /* Change the color of the numbering */
  content: counter(list3-counter) ". "; /* Use the counter for numbering */
  margin-right: 19px;
  font-weight: 700;
}

.hr-table{
  margin-left: 32px;
  margin-top:30px;
  padding-bottom: 40px;
}

.hr2{
  margin-left: -30px;
  margin-right: 45px;
  margin-top:-1px;
  margin-bottom: 1px;
  color:hsl(30, 18%, 87%);
}

.nutrition-table {
  display: flex;
  flex-direction: column;
}

.nutrition-row {
  display: grid;
  grid-template-columns: 285px 50px;/*1st value specifies the width of the first column, 2nd value specifies the width of the second column*/
  gap: 20px;

}

.nutrition-category {
  margin-right: 0px;
}

.nutrition-value {
  color:hsl(14, 45%, 36%);
  font-weight: 700;
}

